
.navbar-default {
  padding: 10px;
  height: 95px;
  border-bottom: 3px solid #1a75ff;
}

div nav.navbar.navbar-default.navbar-fixed-top {
  border: 2px solid blue;
  margin-bottom: 0;
}


div.mobile-phone {
  min-width: 300px;
  z-index: 100;
  margin-top: -20px;
  width: 100%;
  position: fixed;
  background-color: #F8F8F8;
  padding: 2px 0px;
  text-align: center;
  border-bottom: 3px solid #1a75ff;
}
div.mobile-phone h2 a, div.desktop-phone h2 a {
  color: #000000;
}

div.desktop-phone {
  margin-left:  250px;
}


div#bs-example-navbar-collapse-1.collapse.navbar-collapse.in {
  margin-top: 95px;
  background-color: #ffffff;
  border-top: none;
  border-bottom: 2px solid #E8E9E8;
}

a.navbar-brand {
  position: fixed;
  height: 80px;
  width: 250px;
  background-image: url("../../assets/img/header-logo.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

/* =================== 2. Large Devices, Wide Screens ======================= */
@media only screen and (max-width : 1200px) {
}
/* =================== 3. Medium Devices, Desktops ========================== */
@media only screen and (max-width : 992px) {
  .navbar-default {
    border: none;
  }
}
/* =================== 4.  Small Devices, Tablets =========================== */
@media only screen and (max-width : 768px) {
}
/* =================== 5. Extra Small Devices, Phones ======================= */
@media only screen and (max-width : 480px) {
}
/* =================== 6.  Custom, iPhone Retina ============================ */
@media only screen and (max-width : 320px) {
}

/* REMOVE PARALLAX IE10+ CSS */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
}
/* REMOVE PARALLAX IE Edge 12+ CSS */
@supports (-ms-accelerator:true) {
}
