
<div class="finance-banner-wrapper">
  <div class="finance-column">
    <div class="finance-pamphlet"></div>
    <div class="finance-column-section">
      <h2>Financing Available Through [Finance Company]</h2>
      <h4>Financing Subtitle</h4>
      <ul>
        <li>Point about finance</li>
        <li>how it works</li>
      </ul>
      <p>Say another thing about financing</p>
      <p><strong>Which has Points:</strong></p>
      <ul>
        <li>this</li>
        <li>and this</li>
        <li>and more...</li>
      </ul>
    </div>
  </div>
</div>
