
<div class="finance-banner-wrapper">
  <div class="finance-column">
    <div class="finance-column-section">
      <div class="text-center">
        <h2>Financing Available</h2>
        <a class="clickable" href="https://www.mysynchrony.com/mysyf/open-account/auto-parts-and-services.html?intcmp=na-home-nav-Auto_Tires_Parts_and_Services-internal">
          <img src="./assets/img/Synch-Car-Care.png" class="synchrony-brand" alt="Synchrony Car Care Logo"/>
        </a>
      </div>
    </div>
    <div class="finance-column-section">
      <h4>We Provide Financing Through <a href="https://www.mysynchrony.com/mysyf/open-account/auto-parts-and-services.html?intcmp=na-home-nav-Auto_Tires_Parts_and_Services-internal">SYNCHRONY CAR CARE&trade;</a></h4>
      <p>Use your Synchrony Car Care&trade; credit card for routine maintenance, automotive repairs, gas stations, car washes and more. It's safe, secure, and convenient with $0 fraud liability and more</p>
      <div class="finance-buttons">
        <!-- <button href="https://www.mysynchrony.com/mysyf/synchrony-car-care.html?intcmp=synchrony_car_care-pagena-csp-data_reason-internal" mat-button mat-raised-button color="basic">Learn More <mat-icon>chevron_right</mat-icon></button> -->
        <!-- <button href="https://www.mysynchrony.com/mysyf/synchrony-car-care.html?intcmp=synchrony_car_care-pagena-csp-data_reason-internal" mat-button mat-raised-button color="accent">Apply Now <mat-icon>chevron_right</mat-icon></button> -->
      </div>
    </div>
  </div>
</div>
