<div class="service-banner-wrapper">
<div style="padding-top: 2rem"></div>
  <h2>Services Offered</h2>
  <div class="service-header">
    <h3>We offer a wide range of services, specializing in preventative maintenance</h3>
  </div>
  <div class="service-column">
    <div class="service-pamphlet"></div>
    <div class="service-row">
      <strong>What is Preventative Maintenance?</strong>
      <p>There are three types of vehicle maintenance:</p>
      <p><mat-icon class="bullet-icon">verified_user</mat-icon><strong>Preventative maintenance</strong> focuses on predictable wear and tear scheduled by the vehicle manufacturer. It may sound counter intuitive, but many intricate parts in the vehicle are meant to wear down over time. Specific parts are built to be pliable or soft to reduce friction. Your vehicle owner's manual has a schedule of maintenance that is required to keep the vehicle operatoring smoothly. If your manually has mysteriously disappered, don't worry, most can be found online from the manufacturer's website, as well as third parties.</p>
      <p>Preventative maintenance will extend the life of your vehicle, and result in less unpredictable happinings.</p>
    </div>
  </div>
</div>

<div class="service-banner-wrapper">
  <div class="service-column">
    <div>
      <p>
      <mat-icon class="bullet-icon">build</mat-icon><strong>Unpredictable Happenings are when </strong>your check engine light turns on, you notice a strange sound, shaking or something else out of the ordinary
      Often times this is the result of the environment the vehicle is in, not following the manufacturer's recommended maintenance schedule,
      or improper use of the vehicle.
      </p>
      <p>
      <mat-icon class="bullet-icon">favorite</mat-icon><strong>Extra Confidence</strong>is an extra checkup outside of the regular manufacturer's maintenance Schedule. We love taking road trips, especially because California and neighboring states have so many beautiful spaces.
      Some of our favorite destinations are the trail of 100 giants, pismo beach, desert, fishing in bishop, beautiful mountain views.
      When you're planning an exciting road trip, don't let vehicle issues prevent you from enjoying your vacation.
      We can give your vehicle a thorough inspection for extra assurance for an enjoyable vacation.
      </p>
    </div>
  </div>
</div>

<div class="service-list-wrapper">
      <h2>Services Offered</h2>
      <span>A/C Service</span><br/>
      <span>Air Filter</span><br/>
      <span>Antifreeze/Coolant</span><br/>
      <span>Automatic Transmission Fluid and Filter</span><br/>
      <span>Battery Service</span><br/>
      <span>Brake Fluid</span><br/>
      <span>Cabin Air Filter</span><br/>
      <span>Cooling System Hoses</span><br/>
      <span>Differential Service</span><br/>
      <span>Drive Belts</span><br/>
      <span>Engine Oil</span><br/>
      <span>Fuel Injection Service</span><br/>
      <span>Manual Transmission Fluid</span><br/>
      <span>Multi Point Inspection</span><br/>
      <span>Power Steering Fluid</span><br/>
      <span>Shocks and Struts</span><br/>
      <span>Spark Plugs</span><br/>
      <span>Timing Belt</span><br/>
      <span>Tires</span><br/>
      <span>Transfer Case Fluid</span><br/>
</div>

<!--<div *ngFor="let service of services">
  <app-service-card [title]="service.title" [subtitle]="service.subtitle" [description]="service.description">
  </app-service-card>
</div>
-->
