<div *ngFor="let service of services">

  <app-service-card 
     [title]="service.title"
     [subtitle]="service.subtitle"
     [description]="service.description">
  </app-service-card>

</div>
  <!--
  <div class="row">
    <div class="col-xs-12">
      <div>
        <h2>There are 3 categories vehicle maintenance</h2>

        <h3>
          <span class="fa fa-check-circle"></span> Predictable wear and tear - Manufacturer Recommended Maintenence Schedule
        </h3>
        <p>
          Over time intricate parts working in systems inside your vehicle are being used as it's chugging along as it should be.
          Your vehicle might not be driving rough or making any strange noises, and your check engine light probably is not on,
          though, in some newer cars, a maintenance required light may be displayed on the dashboard to remind you that it's time for
          an inspection, and to replace fluids that are at the end of their life.
        </p>
        <p>
          Remember that owner's manual you don't pull out of the glove box until you need to remember how to change the clock?
          This is the best resource to follow to extend the life of your vehicle.
          Every vehicle is different, and the manufacturer knows the intricacies of all the small parts and systems, and which ones will wear out and when.
          If your manually has mysteriously disappered, don't worry, most can be found online from the manufacturer's website, as well as third parties.
        </p>

        <p class="text-info">
        For example, a 2016 Toyota Corolla has a 20,000 mile maintenance
        </p>

        <h3>
          <span class="fa fa-exclamation-circle"></span> Unpredictable happenings
        </h3>
        <p>
        Your check engine light turns on, you notice a strange sound, shaking or something else out of the ordinary
        Often times this is the result of the environment the vehicle is in, not following the manufacturer's recommended maintenance schedule,
        or improper use of the vehicle.
        </p>
        <p class="text-info">
        For example, Sue noticed that her car started making a strange sound when turning the ignition.
        </p>

        <h3>
          <span class="fa fa-thumbs-up"></span> Extra Confidence
        </h3>
        <p>
        We love taking road trips, especially because California and neighboring states have so many beautiful spaces.
        Some of our favorite destinations are the trail of 100 giants, pismo beach, desert, fishing in bishop, beautiful mountain views.
        When you're planning an exciting road trip, don't let vehicle issues prevent you from enjoying your vacation.
        We can give your vehicle a thorough inspection for extra assurance for an enjoyable vacation.
        </p>
        <p class="text-info">
        For example, John landed an amazing job, and is moving quite aways for work, she wants to make sure her truck will be able to tow a sizeable load for a few hundred miles.
        </p>

         Misconception: All Auto repair shops are dishonest

         Misconception: All Auto repair shops over charge, or make up problems

         Misconception: you can diagnose your own car by plugging in something and getting the code

         Misconception: repairing your car is easy, all you have to do is look on youtube

         Explain why we are better than the quick lube

         Explain that oil changes get all the attention because they are on a predictable schedule,
         Maybe compare something people know about as being complicated

         differential tutorial


      </div>
    </div>
  </div>
</div>

<div class="row dark-section">
  <div class="col-xs-12">
    <h1 class="text-center">Services We Offer</h1>
    <div class="col-md-3 col-sm-4">
      <span class="light-section-list">A/C Service</span><br/>
      <span class="light-section-list">Air Filter</span><br/>
      <span class="light-section-list">Antifreeze/Coolant</span><br/>
      <span class="light-section-list">Automatic Transmission Fluid and Filter</span><br/>
      <span class="light-section-list">Battery Service</span><br/>
    </div>
    <div class="col-md-3 col-sm-4">
      <span class="light-section-list">Brake Fluid</span><br/>
      <span class="light-section-list">Cabin Air Filter</span><br/>
      <span class="light-section-list">Cooling System Hoses</span><br/>
      <span class="light-section-list">Differential Service</span><br/>
      <span class="light-section-list">Drive Belts</span><br/>
    </div>
    <div class="col-md-3 col-sm-4">
      <span class="light-section-list">Engine Oil</span><br/>
      <span class="light-section-list">Fuel Injection Service</span><br/>
      <span class="light-section-list">Manual Transmission Fluid</span><br/>
      <span class="light-section-list">Multi Point Inspection</span><br/>
      <span class="light-section-list">Power Steering Fluid</span><br/>
    </div>
    <div class="col-md-3 col-sm-4">
      <span class="light-section-list">Shocks and Struts</span><br/>
      <span class="light-section-list">Spark Plugs</span><br/>
      <span class="light-section-list">Timing Belt</span><br/>
      <span class="light-section-list">Tires</span><br/>
      <span class="light-section-list">Transfer Case Fluid</span><br/>
    </div>
  </div>
</div>
-->
