<div class="warranty-banner-wrapper">
  <div class="warranty-column">
    <img width="250" height="390" src="../../assets/img/coast-to-coast.jpg"
      alt="36 months 36,000 miles coast to coast warranty" />
    <div class="warranty-column-section">
      <h2>36 Months / 36,000 Miles Warranty<mat-icon>verified_user</mat-icon>
      </h2>
      <h4>Majority Of Vehicle Repairs Qualify!</h4>
      <ul>
        <li>Coast-to-Coast</li>
        <li>Nationwide Coverage</li>
        <li>24 Hour Roadside Assistance</li>
      </ul>
      <h2>Complimentary Roadside Assistance</h2>
      <p>Available with any service or repair over $25 at no additional cost</p>
      <p><strong>Includes:</strong></p>
      <ul>
        <li>Towning</li>
        <li>Flat Tire Changing</li>
        <li>Fuel, Oil and Water Delivery</li>
        <li>Jump Start</li>
        <li>Lock Out Service</li>
      </ul>
      <p>Call 800-457-0019</p>
    </div>
  </div>
</div>