

<mat-card class="basic-card limited-width-card blank-card-1">
  <img mat-card-image class="caption-image coast-to-coast-brand" src="./assets/img/coast-to-coast.jpg" alt="36 months 36,000 miles warranty"/>
  <p class="caption"></p>
  <mat-card-content class="aaa-text">
    <ul>
      <li>36 Months / 36,000 Miles Warranty</li>
      <li>Coast-to-Coast</li>
      <li>Nationwide Coverage</li>
      <li>24 Hour Roadside Assistance</li>
    </ul>
    <p>
    <strong>
    Majority Of Vehicle Repairs Qualify!
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">verified_user</mat-icon>
    </strong>
    </p>
  </mat-card-content>
</mat-card>


<!--
<mat-card class="basic-card limited-width-card blank-card-1">
  <mat-card-content class="aaa-text">
    <p>No surprises. No pressure. Ever</p>
    <p><strong>Expect safety, prevention, and your best interests</strong></p>
    <p>We put emphasis on attention to detail to help promote your repair decisions upfront</p>
  </mat-card-content>
</mat-card>
    <img src="./assets/img/nationwide.jpg" class="warranty-brand img-fluid" alt="Nationwide Warranty"/>
-->

<mat-card class="basic-card limited-width-card triangle-card">
  <img mat-card-image class="" src="./assets/img/roadside.jpg" alt="Roadside Assistance"/>
  <p class="caption"></p>
  <mat-card-content class="aaa-text">
    <h2>Complimentary Roadside Assistance</h2>
    <p>Available with any service or repair over $25 at no additional cost</p>
    <p><strong>Includes:</strong></p>
    <ul>
      <li>Towning</li>
      <li>Flat Tire Changing</li>
      <li>Fuel, Oil and Water Delivery</li>
      <li>Jump Start</li>
      <li>Lock Out Service</li>
    </ul>
    <p>Call 800-457-0019</p>
  </mat-card-content>
</mat-card>
