@import "../colors.scss";


h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
strong
{
  font-family: 'Roboto', sans-serif;
  font-display: 'swap';
}
.clickable {
  cursor: pointer;
}


.main-banner-wrapper {
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  background-image: url('/assets/img/bg01.png');
  background-repeat: repeat;
  border-top: 2px solid white;
  width: 100%;
}

.action-banner-wrapper {
  padding: 1rem 0.5rem;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-evenly;
  background: $boldblue;
}
.action-banner-wrapper button {
  padding: 0 5px;
  a {
    color: black;
    font-weight: 600;
    padding-right: 5px;
    text-transform: uppercase;
  }
}

.footer-card {
  display: flex;
  flex:1;
  flex-direction: row;
  background: $boldblue;
  color: #ffffff;
  padding-bottom: 6rem;
}

.footer-card a, .footer-card span, .footer-card li {
  font-size: 16px;
}
.footer-link {
  font-size: 16px;
  color: white;
}

.footer-box h5 {
  padding: 0.1rem;
  background: $secondblue;
}

.footer-box {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0.5rem;
  padding: 0.5rem;
}

.social-media {
  padding: 0.5rem;
  //background: #ffffff;
  display: flex;
  flex-direction: row;
}
.social-icon {
  border-radius: 3px;
  background: yellow;
  height: 40px;
  width: 40px;
  margin: 0.2rem;
}
.facebook-icon {
  background-image: url("/assets/img/73-social-media.png");
  background-position: left -6px top -4px;
  background-size: 800%;
}
.insta-icon {
  background-image: url("/assets/img/73-social-media.png");
  background-position: left -60px top -4px;
  background-size: 800%;
}
.twitter-icon {
  background-image: url("/assets/img/73-social-media.png");
  background-position: left -113px top -52px;
  background-size: 800%;
}
.yellow-page {
  height: 100px;
  width: 100%;
  margin: 0.2rem;
  background-size: cover;
  background-image: url("/assets/img/yellowPage.png");
}
.hours {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 200px;
  border-bottom: 1px solid $secondblue;
}

.main-toolbar {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 20px 0px 8px 0px;
  border-bottom: 3px solid $secondblue;
  position: fixed;
  z-index:100;
}

.toolbar-spacer {
  padding-top: 80px;
}

.toolbar-brand {
  max-width: 200px;
  cursor: pointer;
}

.toolbar-desktop-buttons {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
}

.toolbar-desktop-buttons button {
  margin: 0rem 1rem;
}

/* =================== 2. Large Devices, Wide Screens ======================= */
@media only screen and (max-width : 1200px) {
}
/* =================== 3. Medium Devices, Desktops ========================== */
@media only screen and (max-width : 992px) {
}
/* =================== 4.  Small Devices, Tablets =========================== */
@media only screen and (max-width : 768px) {
  .toolbar-desktop-buttons {
    display: none;
  }

  .footer-card {
    flex-direction: column;
  }
}
/* =================== 5. Extra Small Devices, Phones ======================= */
@media only screen and (max-width : 480px) {
}
/* =================== 6.  Custom, iPhone Retina ============================ */
@media only screen and (max-width : 320px) {
}

/* REMOVE PARALLAX IE10+ CSS */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
}
/* REMOVE PARALLAX IE Edge 12+ CSS */
@supports (-ms-accelerator:true) {
}
