<mat-toolbar class="main-toolbar">
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/"> <span class="text-uppercase">Home</span> </button>
    <button mat-menu-item routerLink="/service"> <span class="text-uppercase">Services</span> </button>
    <button mat-menu-item routerLink="/warranty"> <span class="text-uppercase">3 Years / 36,000 Miles Warranty</span> </button>
    <button mat-menu-item routerLink="/financing"> <span class="text-uppercase">Financing Available</span> </button>
    <a mat-menu-item href="{{telephoneLink}}"><mat-icon>phone</mat-icon><span class="text-uppercase">Call</span> </a>
    <a mat-menu-item href="{{googleUrl}}" target="_blank"> <mat-icon>directions</mat-icon><span class="text-uppercase">Directions</span> </a>
    <a mat-menu-item href="{{appointmentUrl}}" target="_blank"><mat-icon>calendar_today</mat-icon> <span class="text-uppercase">Appointments</span> </a>
    <!--<button mat-menu-item> <span class="text-uppercase">Careers</span> </button>-->
    <!--<button mat-menu-item> <span class="text-uppercase">Reviews</span> </button>-->
    <!--<button mat-menu-item routerLink="/blog"> <span class="text-uppercase">About Us</span> </button>-->
    <!--<button mat-menu-item routerLink="/promotions"> <span class="text-uppercase">Current Promotions</span> </button>-->
  </mat-menu>
  <mat-toolbar-row class="d-flex flex-wrap flex-row justify-content-between">
    <a class="toolbar-brand" (click)="isMenuCollapsed = true" routerLink="/dashboard">
      <img src="./assets/img/header-logo.png" class="img-fluid" alt="Able Auto and Truck Repair"/>
    </a>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <!--<mat-icon>more_vert</mat-icon>-->
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>


<div class="toolbar-spacer">
</div>

<router-outlet (activate)='onActivate($event)'></router-outlet>

<div class="footer-card">
  <div class="footer-box">
    <h5>Hours of Operation</h5>
    <div class="hours"><span>Monday</span><span>8AM - 5PM</span></div>
    <div class="hours"><span>Tuesday</span><span>8AM - 5PM</span></div>
    <div class="hours"><span>Wednesday</span><span>8AM - 5PM</span></div>
    <div class="hours"><span>Thursday</span><span>8AM - 5PM</span></div>
    <div class="hours"><span>Friday</span><span>8AM - 5PM</span></div>
    <div class="hours"><span>Saturday</span><span>Closed</span></div>
    <div class="hours"><span>Sunday</span><span>Closed</span></div>
  </div>
  <div class="footer-box">
    <h5>Contact Info</h5>
    <a class="footer-link" href="{{googleUrl}}"><span>2459 Fruitvale Ave, Suite 1</span></a>
    <a class="footer-link" href="{{googleUrl}}"><span>Bakersfield, CA 93308</span></a><br/>
    <br/>
    <a class="footer-link" href="{{telephoneLink}}"><span>(661) 637-0669</span></a>
    <a class="footer-link" href="mailto:contact@ableautotech.com?subject=contact request from web">contact@ableautotech.com</a>
    <a class="footer-link" href="mailto:appointments@ableautotech.com?subject=appointment request from web">appointments@ableautotech.com</a>
  </div>
  <div class="footer-box">
    <h5>Resources</h5>
    <ul>
      <li>
        <div>
          <a class="footer-link" href="https://ownerautosite.com/Security/Index.aspx?AspxAutoDetectCookieSupport=1" target="_blank">Mitchell1 Owner Auto Site Login</a>
        </div>
      </li>
      <li>
        <div>
          <a class="footer-link" href="{{appointmentUrl}}" target="_blank">Request Appointment (Without Login)</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="footer-box">
    <h6>Follow Us!</h6>
    <div class="social-media">
      <a href="https://www.facebook.com/AbleAutoandTruckRepair/">
        <div class="social-icon facebook-icon"></div>
      </a>
      <a href="https://www.instagram.com/ableautotech/">
        <div class="social-icon insta-icon"></div>
      </a>
      <a href="https://twitter.com/ableautoshop">
        <div class="social-icon twitter-icon"></div>
      </a>
    </div>
    <h6>Serving Bakersfield for 20 Years</h6>
    <div class="social-media">
      <img style="padding: 0.5rem; border-radius: 5px; width: 120px; height: 120px;" src="./assets/img/20.jpg"/>
      <a class="review-button" href="https://www.google.com/search?q=Able+Auto+%26+Truck+Repair&ludocid=9291476908043665309&lsig=AB86z5WDJ2zQDnBveZk_zOmb7TTp#fpstate=lie&lrd=0x80ea4241583e14cd:0x80f1f504feafff9d,1,,,">
        <img style="padding: 0.5rem; border-radius: 5px; width: 120px; height: 120px;" src="./assets/img/write-google-reviews.png"/>
      </a>
    </div>
</div>
