@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.main-toolbar {
  padding: 30px 0 10px 0;
  border-bottom: 3px solid #1a75ff;
  //position: fixed;
}

.spacer {
  border: 2px solid yellow;
  width: 100%;
}

.toolbar-phone {
  color: #3d3d5c;
}

.toolbar-brand {
  max-width: 250px;
  cursor: pointer;
}

/* =================== 2. Large Devices, Wide Screens ======================= */
@media only screen and (max-width : 1200px) {
}
/* =================== 3. Medium Devices, Desktops ========================== */
@media only screen and (max-width : 992px) {
}
/* =================== 4.  Small Devices, Tablets =========================== */
@media only screen and (max-width : 768px) {
}
/* =================== 5. Extra Small Devices, Phones ======================= */
@media only screen and (max-width : 480px) {
}
/* =================== 6.  Custom, iPhone Retina ============================ */
@media only screen and (max-width : 320px) {
}

/* REMOVE PARALLAX IE10+ CSS */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
}
/* REMOVE PARALLAX IE Edge 12+ CSS */
@supports (-ms-accelerator:true) {
}
