@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.main-toolbar {
  padding: 20px 0px;
  border-bottom: 2px solid #004080;
  position: fixed;
  z-index:100;
}

.fill-space {
  flex: 1 1 auto;
  flex-grow: 1;
  border: 2px solid blue;
  display: block;
}

.toolbar-spacer {
  padding-top: 90px;
}

.toolbar-cars {
  max-width: 150px;
  cursor: pointer;
}

.toolbar-brand {
  max-width: 200px;
  cursor: pointer;
}

/* =================== 2. Large Devices, Wide Screens ======================= */
@media only screen and (max-width : 1200px) {
}
/* =================== 3. Medium Devices, Desktops ========================== */
@media only screen and (max-width : 992px) {
}
/* =================== 4.  Small Devices, Tablets =========================== */
@media only screen and (max-width : 768px) {
}
/* =================== 5. Extra Small Devices, Phones ======================= */
@media only screen and (max-width : 480px) {
}
/* =================== 6.  Custom, iPhone Retina ============================ */
@media only screen and (max-width : 320px) {
}

/* REMOVE PARALLAX IE10+ CSS */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
}
/* REMOVE PARALLAX IE Edge 12+ CSS */
@supports (-ms-accelerator:true) {
}
