<mat-toolbar class="main-toolbar">
  <mat-toolbar-row class="d-flex justify-content-between">
    <div class="toolbar-brand" (click)="isMenuCollapsed = true" routerLink="/dashboard">
      <img src="../assets/img/header-logo.png" class="img-fluid" alt="Able Auto and Truck Repair"/>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <!--<mat-icon>more_vert</mat-icon>-->
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>phone</mat-icon>
    <span class="text-uppercase">Call</span>
  </button>
  <button mat-menu-item>
    <mat-icon>directions</mat-icon>
    <span class="text-uppercase">Directions</span>
  </button>
  <button mat-menu-item>
    <mat-icon>calendar_today</mat-icon>
    <span class="text-uppercase">Appointments</span>
  </button>
  <button mat-menu-item>
    <span class="text-uppercase">Services</span>
  </button>
  <button mat-menu-item>
    <span class="text-uppercase">Careers</span>
  </button>
  <button mat-menu-item>
    <span class="text-uppercase">Reviews</span>
  </button>
  <button mat-menu-item>
    <span class="text-uppercase">Warranty - 3 Year/36K Mile</span>
  </button>
  <button mat-menu-item>
    <span class="text-uppercase">Financing Available</span>
  </button>
  <button mat-menu-item>
    <span class="text-uppercase">About Us</span>
  </button>
</mat-menu>

<div class="toolbar-spacer">
</div>

<router-outlet (activate)='onActivate($event)'></router-outlet>

<div class="footer-top"></div>
<div class="footer">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <a routerLink="home">
        <img width="120" src="./assets/img/square_black.png">
      </a>
      <h4> <a href="tel:+16616370669" > (661) 637-0669 </a> </h4>
      <h5> Monday - Friday 8AM to 5PM </h5>
    </div>
    <div class="col-xs-12 col-sm-3">
      <a routerLink="contact">Location</a><br/>
      <a routerLink="appointment">Appointments</a><br/>
      <a routerLink="service">Services</a><br/>
      <a routerLink="career">Careers</a><br/>
    </div>
    <div class="col-xs-12 col-sm-3">
      <!--<a routerLink="contact">Contact Us</a><br/>-->
      <!--<a routerLink="contact">Directions</a><br/>-->
      <!--<a routerLink="service">Coupons</a><br/>-->
      <!--<a routerLink="about">About Us</a>-->
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="social-icon">
        <a href="https://www.facebook.com/ableautoshop/" target="_blank">
          <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
        </a>
      </div>
      <div class="social-icon">
        <a href="https://twitter.com/ableautoshop" target="_blank">
          <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
        </a>
      </div>
      <div class="social-icon">
        <a target="_blank" href="https://www.surecritic.com/reviews/able-auto-and-truck-repair?nhd=1">
          <img src="https://www.surecritic.com/assets/business_badge.png" alt="Able Auto And Truck Repair Reviews">
        </a>
      </div>
    </div>
  </div>

</div>
