
<div class="row appointment-section">

  <div class="col-xs-12">
    <h2>
      <span class="fa fa-check-square-o"></span>
      Schedule an Appointment Today 
    </h2>
      <p style="margin:10px;">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <br/>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-12">
    <img style="max-width: 300px; margin: 0 auto; border-radius: 3px; border: 2px solid #dedede;" class="img-responsive" src="./assets/img/able_rainbow.jpg">
  </div>

  <div class="col-md-8 col-sm-6 col-xs-12">
    <iframe style="border:none; width: 100%; height: 850px;" src="https://www.mitchell1crm.com/crmutilities/AppointmentRequest.aspx?w=959133">
    </iframe>
  </div>

</div>




