<div class="feature-section">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="text-center">

        <span class="fa fa-gears hidden-xs"></span>
        <span class="fa fa-cog hidden-xs"></span>

        <div class="visible-xs">
          <span class="fa fa-gears"></span>
          <span class="fa fa-cog"></span>
          <span class="fa fa-wrench"></span>
        </div>

        <hr class="visible-xs"/>
        This Page is Still Under Construction
        <br class="visible-xs"/>
        <span class="fa fa-cog hidden-xs"></span>
        <span class="fa fa-gears hidden-xs"></span>
      </h2>
    </div>
  </div>
</div>
<div class="detail-page-header">
  <div class="row text-center">
    <div class="col-md-6 col-sm-12">
      <img class="img img-responsive" src="assets/img/location-front.jpg">
    </div>
    <div class="col-md-6 col-sm-12">
      <p>
      We're located on <strong>Rosedale HWY</strong> (CA-58) and <strong>Fruitvale AVE</strong> a few miles away from all major freeways in Bakersfield.
      </p>
      <p>
      <strong>From the 99</strong>: Take Rosedale HWY (CA-58) West. Turn Left on Fruitvale AVE, and then right into the first row of buildings in the complex. STE #1 Is then a few hundered feet up on the right side.
      </p>
    </div>
  </div>
  <hr/>
  <div class="row text-center">
    <div class="col-md-6 col-sm-12">
      <iframe id="google-map-iframe" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13011.718564404904!2d-119.07549800000001!3d35.382201!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x80f1f504feafff9d!2sAble+Auto+and+Truck+Repair!5e0!3m2!1sen!2sus!4v1483913179253" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>

