<div class="header">
  <div id="feature-banner">
  </div>
</div>

<div class="feature-section">
  <div class="row text-center">

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="fa fa-tachometer fa-5x feature-icon"></div>
      <br/>
      <strong>Excelent Ratings</strong>
      <span class="feature-icon-text">
        Sure Critic, Yelp, Yellow Pages, Facebook...
      </span>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="fa fa-heart fa-5x feature-icon"></div>
      <br/>
      <strong>Local, Family Owned</strong>
      <span class="feature-icon-text">
        Serving Bakersfield for 20 years in 2018
      </span>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="fa fa-gears fa-5x feature-icon"></div>
      <br/>
      <strong>Quality, Trusted</strong>
      <span class="feature-icon-text">
        Carquest Auto Parts, Jasper Engines
      </span>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="fa fa-wrench fa-5x feature-icon"></div>
      <br/>
      <strong>Latest technology</strong>
      <span class="feature-icon-text">
        Our ASE Certified Technicians are using the latest technology
      </span>
    </div>

  </div>
</div>

<div class="row dark-section">
  <h1 class="text-center">A Few Vehicle Makes We Service</h1>
  <div class="col-md-2 col-sm-3 col-xs-4">
    <span class="dark-section-list">AMC</span><br/>
    <span class="dark-section-list">Acura</span><br/>
    <span class="dark-section-list">Buick</span><br/>
    <span class="dark-section-list">Cadillac</span><br/>
    <span class="dark-section-list">Chevrolet</span><br/>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-4">
    <span class="dark-section-list">Chrysler</span><br/>
    <span class="dark-section-list">Daewoo</span><br/>
    <span class="dark-section-list">Datsun</span><br/>
    <span class="dark-section-list">Dodge</span><br/>
    <span class="dark-section-list">Ford</span><br/>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-4">
    <span class="dark-section-list">GMC</span><br/>
    <span class="dark-section-list">Honda</span><br/>
    <span class="dark-section-list">Hummer</span><br/>
    <span class="dark-section-list">Hyundai</span><br/>
    <span class="dark-section-list">Infiniti</span><br/>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-4">
    <span class="dark-section-list">Isuzu</span><br/>
    <span class="dark-section-list">Jeep</span><br/>
    <span class="dark-section-list">Kia</span><br/>
    <span class="dark-section-list">Lexus</span><br/>
    <span class="dark-section-list">Lincoln</span><br/>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-4">
    <span class="dark-section-list">Mazda</span><br/>
    <span class="dark-section-list">Mercury</span><br/>
    <span class="dark-section-list">Mitsubishi</span><br/>
    <span class="dark-section-list">Nissan</span><br/>
    <span class="dark-section-list">Oldsmobile</span><br/>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-4">
    <span class="dark-section-list">Plymouth</span><br/>
    <span class="dark-section-list">Pontiac</span><br/>
    <span class="dark-section-list">Saturn</span><br/>
    <span class="dark-section-list">Scion</span><br/>
    <span class="dark-section-list">Subaru</span><br/>
    <span class="dark-section-list">Suzuki</span><br/>
    <span class="dark-section-list">Toyota</span><br/>
  </div>
  <div class="col-xs-12">
    <a class="btn btn-lg btn-primary" routerLink="/service">
        What Services Do We Offer?
        <span class="fa fa-wrench fa-2x"></span>
    </a>
  </div>
</div>


<div class="feature-section-1">
  <div class="row text-center">
    <h1 class="text-center">What Can We Offer That's Different?</h1>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="feature-image aaa"></div>
      <p class="feature-image-text">
      AAA Approved Auto Repair facility
      </p>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="feature-image ase"></div>
      <p class="feature-image-text">
      ASE Certified Technicians
      </p>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="feature-image tech-net"></div>
      <p class="feature-image-text">
      Tech Net 24 Month/24,000 Mile Nationwide Warranty
      </p>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="feature-image toyourrescue"></div>
      <p class="feature-image-text">
      $25 (or more) purchase covers you for 365 days for road side assistance
      </p>
    </div>
  </div>
</div>

<!--
<div class="feature-section">
  <div class="row text-center">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="feature-image jasper"></div>
      <p>
      3 year/100,000 mile warranty on gas engines, transmissions and differentials
      </p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="feature-image carquest"></div>
      <p>
      Quality auto parts
      </p>
    </div>
  </div>

    <div class="row text-center">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <iframe id="myIframe" src="//www.surecritic.com/businesses/2441/widgets/dynamic_reviews/7459" height="355" width="500" frameBorder="0"></iframe> 
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
      </div>
    </div>
    -->

<div class="wordy-section">
  <h1>omnis iste natus error</h1>
  <p>
  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
  </p>
  <p>
  Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
  </p>
</div>


  <router-outlet></router-outlet>


