<div class="header">
  <div class="row">

    <div class="col-xs-12 col-md-8 col-no-padding">
      <img class="img-responsive" src="assets/img/location.jpeg">
    </div>
    <div class="col-xs-12 col-md-4">
      <a target="_blank" href="https://www.surecritic.com/reviews/able-auto-and-truck-repair?nhd=1"><img src="https://www.surecritic.com/assets/business_badge2.png" alt="Able Auto And Truck Repair Reviews"></a>
      <div id="surecritic-testimonials"></div> 
    </div>

  </div>
  <div class="row">
    <div class="col-xs-6">
    </div>
    <div class="col-xs-6">
    </div>
  </div>
</div>



<div class="feature-section" style="margin: 100px 0; background-image: url('app/img/sect5.jpeg')">
  <div class="row text-center">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="feature-image aaa"></div>
      <p>
      AAA Approved Auto Repair facility
      </p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="feature-image ase"></div>
      <p>
      ASE Certified Technicians
      </p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="feature-image tech-net"></div>
      <p>
      Tech Net 24 Month/24,000 Mile Nationwide Warranty
      </p>
    </div>
  </div>

  <br/>
  <br/>
  <br/>

  <div class="row text-center">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="feature-image toyourrescue"></div>
      <p>
      $25 (or more) purchase covers you for 365 days for road side assistance
      </p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="feature-image jasper"></div>
      <p>
      3 year/100,000 mile warranty on gas engines, transmissions and differentials
      </p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="feature-image carquest"></div>
      <p>
      Quality auto parts
      </p>
    </div>
  </div>

</div>

<router-outlet></router-outlet>


