<div class="header">
  <div id="feature-banner">
  </div>
</div>

<div class="feature-section">
  <div class="row text-center">

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="fa fa-gears fa-5x feature-icon"></div>
      <br/>
      <span class="feature-icon-text">
      AAA Approved Auto Repair facility
      </span>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="fa fa-car fa-5x feature-icon"></div>
      <br/>
      <span class="feature-icon-text">
      ASE Certified Technicians
      </span>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="fa fa-wrench fa-5x feature-icon"></div>
      <br/>
      <span class="feature-icon-text">
      Tech Net 24 Month/24,000 Mile Nationwide Warranty
      </span>
    </div>

  </div>
</div>

<div class="feature-section">
  <div class="row text-center">

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="fa fa-tachometer fa-5x feature-icon"></div>
      <br/>
      <span class="feature-icon-text">
      AAA Approved Auto Repair facility
      </span>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="fa fa-heart fa-5x feature-icon"></div>
      <br/>
      <span class="feature-icon-text">
      ASE Certified Technicians
      </span>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="fa fa-road fa-5x feature-icon"></div>
      <br/>
      <span class="feature-icon-text">
      Tech Net 24 Month/24,000 Mile Nationwide Warranty
      </span>
    </div>

  </div>
</div>

<div class="feature-section">
  <div class="row text-center">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="feature-image aaa"></div>
      <p>
      AAA Approved Auto Repair facility
      </p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="feature-image ase"></div>
      <p>
      ASE Certified Technicians
      </p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="feature-image tech-net"></div>
      <p>
      Tech Net 24 Month/24,000 Mile Nationwide Warranty
      </p>
    </div>
  </div>
</div>

<div class="feature-section">
  <div class="row text-center">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="feature-image toyourrescue"></div>
      <p>
      $25 (or more) purchase covers you for 365 days for road side assistance
      </p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="feature-image jasper"></div>
      <p>
      3 year/100,000 mile warranty on gas engines, transmissions and differentials
      </p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="feature-image carquest"></div>
      <p>
      Quality auto parts
      </p>
    </div>
  </div>

</div>


  <div class="row">
    <div class="col-xs-12 col-md-4">
      <a target="_blank" href="https://www.surecritic.com/reviews/able-auto-and-truck-repair?nhd=1"><img src="https://www.surecritic.com/assets/business_badge2.png" alt="Able Auto And Truck Repair Reviews"></a>
      <div id="surecritic-testimonials"></div>
    </div>
  </div>

  <br/>
  <br/>
  <br/>

<router-outlet></router-outlet>


