<div class="feature-section">
  <div class="row">
    <div class="col-sm-5">
      <h1>Join Our Team!</h1>
      <p>
      As a growing auto repair shop, we are looking for individuals who would like to work in an excellent team environment.
      </p>
      <p>
      We value those who are willing to work towards keeping our high standards, and enjoy building eachother up.
      </p>
    </div>
    <div class="col-sm-7">
      <img style="border:2px solid #e6e6e6; border-radius: 4px;" class="img img-responsive" src="./assets/img/able_team_edit.jpg">
    </div>
  </div>
</div>

<div class="row dark-section">
  <div class="col-sm-4">
    <img style="border-radius: 4px;" class="img img-responsive" src="./assets/img/emp3.jpg">
  </div>
  <div class="col-sm-8">
    <h1>Automotive Technicians</h1>
    <p>
    Currently, we have openings for detail oriented problem solvers who enjoy tracing through complex vehicle systems to solve a various problems.
    </p>
    <h3>Ideal Traits Include:</h3>
    <ul>
      <li>
        Excellent communication skills
      </li>
      <li>
        Experience diagnosing vehicle issues
      </li>
      <li>
        Ability to continuously better themselves to improve their skills and learn in a changing industry
      </li>
      <li>
        Have Multiple current ASE Certifications, and are willing to work on achieving more
      </li>
    </ul>
  </div>
</div>

<div class="feature-section-1">
  <div class="row">
    <div class="col-sm-8">
      <h1>
        Competitive Benefits
      </h1>

      <p>
      We offer competitive benefits including:
      </p>
      <ul>
        <li>
          401K plans
        </li>
        <li>
          Health insurance
        </li>
        <li>
          Paid holidays
        </li>
        <li>
          Weekends free from work
        </li>
      </ul>

      <p>
      After recently extending our space, we now have a new classroom/learning environment and <strong>air conditioned</strong> break room.
      </p>
      <p>
      We keep up to date with technology. Late 2016 we  moved to using tablets to fill out inspections instead of clipboards and paper.
      </p>
    </div>
    <div class="col-sm-4">
      <img style="border-radius: 4px;" class="img img-responsive" src="./assets/img/mike_able.jpg">
    </div>
  </div>
</div>

<div class="row now-section">
  <div class="col-xs-12 text-center">
    <h1>Apply Today!</h1>
    <h3>
      Please send your resume and any relevant information to careers@ableautotech.com
    </h3>
  </div>
</div>


