@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.example-card {
    min-width: 300px;
    max-width: 400px;
  background-image: url('/assets/img/sect5.jpeg');
  }

  .example-header-image {
      background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
      }

.feature-place {
  padding: 216px 0px 0px 0px;
  height: 245px;
  background-image: url('../../assets/img/mojave-offroad-thumb.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aaa-brand-wrapper {
  //background-position: center;
  //background-repeat: no-repeat;
  //background-size: cover;
  //background-image: url('../../assets/img/12.jpeg');
  background-image: url('../../assets/img/bg01.png');
  //border-top: 4px solid #004080;
}

.quilt-image {
  max-height: 250px;
}


.aaa-text {
  margin: 10px 8px;
  font-family: 'Nunito Sans', sans-serif;
}

.aaa-brand {
  max-width: 105px;
  margin: 20px;
}

.dark-card {
  max-width: 500px;
  border: 2px solid blue;
  min-width: 300px;
  background-image: url('/assets/img/sect4.jpeg');
}

.triangle-card {
  border: 2px solid green;
  max-width: 500px;
  min-width: 300px;
  background-image: url('/assets/img/sect5.jpeg');
}

.shape-card {
  border: 2px solid red;
  max-width: 500px;
  min-width: 300px;
  background-image: url('/assets/img/sect2.jpeg');
}

.action-card {
  padding: 10px 0px;
  //background-image: url('../../assets/img/bg01.png');
  background-color: #3d3d8f;
  color: white;
}

.feature-banner {
  max-height: 360px;
  width: 100%;
}

.action-button-text {
  margin-top: 5px;
  display: block;
}

.action-button-container {
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Nunito Sans', sans-serif;
}

.toolbar-phone {
  color: #3d3d5c;
}

/* =================== 2. Large Devices, Wide Screens ======================= */
@media only screen and (max-width : 1200px) {
}
/* =================== 3. Medium Devices, Desktops ========================== */
@media only screen and (max-width : 992px) {
}
/* =================== 4.  Small Devices, Tablets =========================== */
@media only screen and (max-width : 768px) {
}
/* =================== 5. Extra Small Devices, Phones ======================= */
@media only screen and (max-width : 480px) {
}
/* =================== 6.  Custom, iPhone Retina ============================ */
@media only screen and (max-width : 320px) {
}

/* REMOVE PARALLAX IE10+ CSS */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
}
/* REMOVE PARALLAX IE Edge 12+ CSS */
@supports (-ms-accelerator:true) {
}
