<mat-card class="feature-place">
</mat-card>

<div class="d-flex flex-row aaa-brand-wrapper">
  <div routerLink="/dashboard">
    <img src="../assets/img/aaa-approved-auto-repair.png" class="aaa-brand img-fluid" alt="AAA Approved Auto Repair"/>
  </div>
  <div class="aaa-text text-center">
    <strong>Locally Owned and Operated</strong><br/>
    Serving the greater Bakersfield area <strong>Since <i>1998</i></strong>
  </div>
</div>

<mat-card class="action-card">
  <div class="d-flex justify-content-around">
    <div class="action-button-container">
      <button href="tel:+16616370669" mat-fab color="basic">
        <mat-icon aria-label="">phone</mat-icon>
      </button>
      <span class="action-button-text">
        call
      </span>
    </div>
    <div class="action-button-container">
      <button href="tel:+16616370669" mat-fab color="basic">
        <mat-icon aria-label="">directions</mat-icon>
      </button>
      <span class="action-button-text">
        directions
      </span>
    </div>
    <div class="action-button-container">
      <button mat-fab color="accent" routerLink="/appointment">
        <mat-icon aria-label="">calendar_today</mat-icon>
      </button>
      <span class="action-button-text">
        book
      </span>
    </div>
  </div>
</mat-card>

<mat-card class="triangle-card">
  <div class="d-flex">
    <div class="aaa-text">
      <strong>Honesty, Quality, Trust</strong><br/>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <img src="../assets/img/quilt.jpg" class="quilt-image img-fluid rounded" alt="Quilt"/>
  </div>
    <div class="aaa-text">
      <p>No surprises. No pressure. Ever</p>
      <p>We put emphasis on attention to detail to help promote your repair decisions upfront</p>
      <p><strong>Expect safety, prevention, and your best interests</strong></p>
      <div class="d-flex justify-content-end">
        <button mat-button color="primary">
          READ MORE
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </div>
</mat-card>

<mat-card class="dark-card">
  <div class="d-flex">
    <div class="aaa-text">
      <strong>Latest Technology</strong><br/>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <img src="../assets/img/green-toolbox.jpg" class="quilt-image img-fluid rounded" alt="Toolbox"/>
  </div>
    <div class="aaa-text">
      <p>Our ASE Certified Technicians are now equiped with the latest technology</p>
      <div class="d-flex justify-content-end">
        <button mat-button color="primary">
          READ MORE
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </div>
</mat-card>

<mat-card class="shape-card">
  <div class="d-flex">
    <div class="aaa-text">
      <strong>Getting You Back on the Road With Confidence</strong><br/>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <img src="../assets/img/sunset-tire.jpg" class="quilt-image img-fluid rounded" alt="Sunset Tire"/>
  </div>
    <div class="aaa-text">
      <p>Our ASE certified staff maintains high quality standards</p>
      <p><strong>Our goal is to keep your vehicle up to date on preventative maintenance</strong></p>
      <p>Our 3 Year/36K Mile warranty provides extra assurance</p>
    <!--for your vehicle to extend it's life and avoid major complications down the road. Our shop is held to AAA Automotive Repair Facility standards. We've received excellent customer satisfaction ratings that AAA performs to check up on us. Check out our other reviews on SureCritic, Yelp, Yellow Pages, Facebook, Google. SureCritic is an independent company that requests phone surveys from our customers. -->
      <div class="d-flex justify-content-end">
        <button mat-button color="primary">
          READ MORE
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </div>
</mat-card>

<mat-card class="triangle-card">
  <div class="d-flex">
    <div class="aaa-text">
      <strong>Don't Just Take Our Word</strong><br/>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <img src="../assets/img/yellowPage.png" class="yp-image img-fluid rounded" alt="Sunset Tire"/>
  </div>
    <div class="aaa-text">
      <p><strong>Our customers love us!</strong></p>
      <p>Excellent reviews across multiple sites including Google, Yelp, SureCritic, Yellow Pages, Facebook etc</p>
      <div class="d-flex justify-content-end">
        <button mat-button color="primary">
          READ MORE
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </div>
</mat-card>

<!--<div class="feature-section-1">
  <div class="row text-center">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="feature-image aaa"></div>
      <p class="feature-image-text">
      AAA Approved Auto Repair facility
      </p>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="feature-image ase"></div>
      <p class="feature-image-text">
      ASE Certified Technicians
      </p>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="feature-image tech-net"></div>
      <p class="feature-image-text">
      Tech Net 3 Year/36,000 Mile Warranty
      </p>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="feature-image toyourrescue"></div>
      <p class="feature-image-text">
      $25 (or more) purchase covers you for 365 days for road side assistance
      </p>
    </div>
  </div>
</div>
-->

<!--
<div class="feature-section">
  <div class="row text-center">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="feature-image jasper"></div>
      <p>
      3 year/100,000 mile warranty on gas engines, transmissions and differentials
      </p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="feature-image carquest"></div>
      <p>
      Quality auto parts
      </p>
    </div>
  </div>

    <div class="row text-center">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <iframe id="myIframe" src="//www.surecritic.com/businesses/2441/widgets/dynamic_reviews/7459" height="355" width="500" frameBorder="0"></iframe> 
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
      </div>
    </div>
    -->
