<div *ngIf="id">
  <div [ngSwitch]="id">
    <div *ngSwitchCase="1">
      <mat-card class="basic-card limited-width-card blank-card-1">
        <img mat-card-image class="caption-image" src="./assets/img/quilt.jpg" alt="Quilt"/>
        <p class="caption">Kern River Blue Star Moms Present "Patriotic Quilt" Raffle Prize</p>
        <mat-card-content class="aaa-text">
          <h4>Honesty, Quality, Trust</h4>
          <p>No surprises. No pressure. Ever</p>
          <p>We put emphasis on attention to detail to help promote your repair decisions upfront</p>
          <p><strong>Expect safety, prevention, and your best interests</strong></p>
          <p>We put emphasis on attention to detail to help promote your repair decisions upfront</p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
          <mat-card-actions>
            <button mat-button [routerLink]="['/']" color="accent">
              <mat-icon>keyboard_arrow_left</mat-icon>
              BACK
            </button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </div>
    <div *ngSwitchCase="2">
      <mat-card class="basic-card limited-width-card blank-card-1">
        <img mat-card-image class="caption-image" src="./assets/img/green-toolbox.jpg" alt="Toolbox"/>
        <p class="caption">Trading Up From Clipboards and Cardstock To Tablets and Tech</p>
        <mat-card-content class="aaa-text">
          <h4>Latest Technology</h4>
          <p>Our ASE Certified Technicians are now equiped with the latest technology</p>
          <p>The upgrade was not easy, but well worth the journey</p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
          <mat-card-actions>
            <button mat-button [routerLink]="['/']" color="accent">
              <mat-icon>keyboard_arrow_left</mat-icon>
              BACK
            </button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </div>
    <div *ngSwitchCase="3">
      <mat-card class="basic-card limited-width-card blank-card-1">
        <img mat-card-image src="./assets/img/rrc.jpg" alt="Kern County"/>
        <mat-card-content>
          <h4>Fellow Kern County Residents</h4>
          <h5>What Preventative Maintenace Should We Be Concerned About?</h5>
          <p><strong>It may sound counter intuitive,</strong> but some vehicle parts such as belts and hoses are meant to wear out over time.</p>
          <p>They are built to be soft and pliable so they can do their job properly. As such, they must be replaced every so often.</p>
          <div class="definition-box">
            <p><strong>Preventative maintenance</strong> aims to fix key vehicle parts so we are less likely to have to repair or replace more expensive vehicle parts.</p>
          </div>
          <p>Here in Kern County, we are a desert community. Summers are hot, often going many days above 100&deg;F, and winters, thout not snowy, are very cold.</p>
          <p>Here in Kern County, summers often have many days above 100&deg;F. Winters, though not snowy are still very cold.</p>
          <p><strong>What does all of this mean in terms of vehicle maintenace?</strong>
          <p>What extra parts should we be looking at or having a qualified professional inspect from time to time?</p>
          <p>What does all of this mean in terms of vehicle maintenace? What extra parts should we be looking at or having a qualified professional inspect from time to time?</p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
          <mat-card-actions>
            <button mat-button [routerLink]="['/']" color="accent">
              <mat-icon>keyboard_arrow_left</mat-icon>
              BACK
            </button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </div>
    <div *ngSwitchCase="4">
      <mat-card class="basic-card limited-width-card blank-card-1">
        <mat-card-header>
          <h4>Confidence on The Road</h4>
        </mat-card-header>
        <img mat-card-image src="./assets/img/sunset-tire.jpg" alt="Sunset Tire"/>
        <mat-card-content>
          <p><strong>Our goal is to keep your vehicle up to date on preventative maintenance</strong></p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
          <mat-card-actions>
            <button mat-button [routerLink]="['/']" color="accent">
              <mat-icon>keyboard_arrow_left</mat-icon>
              BACK
            </button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div *ngIf="!id">
  <div class="d-flex flex-wrap flex-row">

    <!-- 1 -->
    <mat-card class="basic-card limited-width-card blank-card-1">
      <img mat-card-image class="caption-image" src="./assets/img/quilt.jpg" alt="Quilt"/>
      <p class="caption">Kern River Blue Star Moms Present "Patriotic Quilt" Raffle Prize</p>
      <mat-card-content class="aaa-text">
        <h4>Honesty, Quality, Trust</h4>
        <p>No surprises. No pressure. Ever</p>
        <mat-card-actions>
          <button mat-button [routerLink]="['/blog', 1]" color="primary">
            READ MORE
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>

    <!-- 2 -->
    <mat-card class="basic-card limited-width-card blank-card-1">
      <img mat-card-image class="caption-image" src="./assets/img/green-toolbox.jpg" alt="Toolbox"/>
      <p class="caption">Trading Up From Clipboards and Cardstock To Tablets and Tech</p>
      <mat-card-content class="aaa-text">
        <h4>Latest Technology</h4>
        <p>Our ASE Certified Technicians are now equiped with the latest technology</p>
        <p>The upgrade was not easy, but well worth the journey</p>
        <mat-card-actions>
          <button mat-button [routerLink]="['/blog', 2]" color="primary">
            READ MORE
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>

    <!-- 3 -->
    <mat-card class="basic-card limited-width-card blank-card-1">
      <img mat-card-image src="./assets/img/rrc.jpg" alt="Kern County"/>
      <mat-card-content>
        <h4>Fellow Kern County Residents</h4>
        <h5>What Preventative Maintenace Should We Be Concerned About?</h5>
        <p><strong>It may sound counter intuitive,</strong> but some vehicle parts such as belts and hoses are meant to wear out over time.</p>
        <div class="definition-box">
          <p><strong>Preventative maintenance</strong> aims to fix key vehicle parts so we are less likely to have to repair or replace more expensive vehicle parts.</p>
        </div>
        <p>Here in Kern County, summers often have many days above 100&deg;F. Winters, though not snowy are still very cold.</p>
        <p><strong>What does all of this mean in terms of vehicle maintenace?</strong>
        <mat-card-actions>
          <button mat-raised-button [routerLink]="['/blog', 3]" color="accent">
            LET'S TAKE A LOOK
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </div>
</div>
