<mat-card class="basic-card limited-width-card triangle-card">
  <mat-card-header>
    <h2>Excellent Reviews!</h2>
  </mat-card-header>
  <mat-card-content>
    <p><strong>Our customers love us!</strong></p>
  </mat-card-content>
</mat-card>

    <div class="review-google"></div>
    <div class="social-media">
      <a href="https://www.surecritic.com/reviews/able-auto-and-truck-repair?nhd=1">
        <img src="https://www.surecritic.com/assets/business_badge.png" alt="Able Auto And Truck Repair Reviews">
      </a>
    </div>

<mat-card class="basic-card limited-width-card blank-card-2">
  <mat-card-header>
    <h2>Google</h2>
  </mat-card-header>
  <mat-card-content>
    <p>A bunch of Google reviews, and link to site reivew</p>
    <p>Create Google Review</p>
    <p>...</p>
    <p>...</p>
    <p>...</p>
  </mat-card-content>
</mat-card>

<mat-card class="basic-card limited-width-card triangle-card">
  <mat-card-header>
    <h2>Yellow Pages</h2>
  </mat-card-header>
  <mat-card-content>
    <p>A bunch of nice yellow pages reviews, and link to YP site</p>
    <p>Create YP Review</p>
    <p>...</p>
    <p>...</p>
    <p>...</p>
  </mat-card-content>
</mat-card>

<mat-card class="basic-card limited-width-card blank-card-1">
  <mat-card-header>
    <h2>Sure Critic</h2>
  </mat-card-header>
  <mat-card-content>
    <p>Feed widget of sure critic reviews</p>
    <p>Link back to sure critic</p>
    <p>TODO Fix iframe</p>
    <!--<iframe id="myIframe" src="//www.surecritic.com/businesses/2441/widgets/dynamic_reviews/7459" height="355" width="100%" frameBorder="0"></iframe>-->
    <p>...</p>
    <p>...</p>
    <p>...</p>
  </mat-card-content>
</mat-card>

<mat-card class="basic-card limited-width-card triangle-card">
  <mat-card-header>
    <h2>Other Reviews</h2>
  </mat-card-header>
  <mat-card-content>
    <p>Somewhere else</p>
    <p>...</p>
    <p>...</p>
    <p>...</p>
    <mat-card-actions>
      <button [routerLink]="'/'" mat-raised-button color="basic">
        <mat-icon>keyboard_arrow_left</mat-icon>
        BACK
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
