<div class="review-wrapper">
  <h2>Reviews</h2>
  <ul>
    <li>
      <a href="https://www.yellowpages.com/bakersfield-ca/mip/able-auto-truck-repair-3218622?lid=1001364470026">
        Yellow Pages
      </a>
    </li>
    <li>
      <a href="https://www.yelp.com/biz/able-auto-and-truck-repair-bakersfield-3?osq=able+auto+and+truck+repair">
        Yelp
      </a>
    </li>
  </ul>
  <div class="review-page-row">
    <div class="review-google"></div>
    <a href="https://www.surecritic.com/reviews/able-auto-and-truck-repair?nhd=1">
      <img src="https://www.surecritic.com/assets/business_badge.png" alt="Able Auto And Truck Repair Reviews">
    </a>
    <div class="widget">
      <iframe id="myIframe" src="//www.surecritic.com/businesses/2441/widgets/dynamic_reviews/7459" height="455" width="290" frameBorder="0"></iframe>
    </div>
  </div>
</div>
