/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~material-icons/css/material-icons.min.css';
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";


div.router-outlet {
  padding-top: 90px;
}

p {
  color: #595959;
}


#feature-banner {
  height: 260px;
  background-image: url('assets/img/mojave-offroad-thumb.jpg');
  background-size:cover;
  background-attachment:fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#google-map-iframe {
  width: 100%;
}

div.emphasis-background {
}

div.row {
  margin: 0;
}

body {
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

div.detail-page-header {
  margin: 90px 0px 0px 0px;
  padding: 30px;
}

.detail-page-header img {
  border-radius: 2px;
  border: 4px solid #dedede;
}

div.header {
  margin: 90px 0px 0px 0px;
  padding: 0px;

}
div.col-no-padding{
  padding: 0;
  height: 400px;
}
div.footer-top {
  margin-top: 90px;
  padding: 50px;
  height: 300px;
  background-image: url('assets/img/sect1.png'); 
  background-repeat: repeat no-repeat;
  background-position: bottom left;
}

.feature-icon {
  border: 3px solid #dedede;
  border-radius: 100%;
  background-color: #1a75ff;
  color: white;
  padding: 9px;
}

span.feature-icon-text {
  display: block;
  margin: 18px auto;
  font-size: 14px;
  color: #404040;
}

div.social-icon {
  padding: 5px;
}
div.social-icon i.fa-facebook-square.fa-2x {
  color: #3b5998;
}
div.social-icon i.fa-twitter-square.fa-2x {
  color: #5CBBEE;
}

span.dark-section-list {
  display: block;
}
span.light-section-list {
  display: block;
}

.dark-section h1 {
  color: #f2f2f2;
  padding-bottom: 40px;
}
.light-section h1 {
  color: #f2f2f2;
  padding-bottom: 40px;
}

.dark-section p {
  color: #f2f2f2;
}
.light-section p {
  color: #f2f2f2;
}

div.dark-section {
  color: #f2f2f2;
  background-color: #1e4d7b;
  padding: 60px 30px;
}
div.light-section {
  color: #f2f2f2;
  background-color: #1a75ff;
  padding: 60px 30px;
}

div.wordy-section {
  padding: 60px 30px 60px 30px;
}

div.feature-section-1 {
  background-image: url('/assets/img/sect5.jpeg');
  padding: 60px 30px 60px 30px;
  border-bottom: 4px solid #d9d9d9;
  border-top: 4px solid #d9d9d9;
}
div.feature-section {
  background-image: url('/assets/img/bg01.png');
  border-bottom: 4px solid #d9d9d9;
  border-top: 4px solid #d9d9d9;
}
div.appointment-section {
  background-image: url('/assets/img/bg01.png');
  padding: 50px 30px;
}

.feature-image-text {
  border-radius: 0px 0px 7px 7px;
  color: white;
  padding: 10px;
  min-height: 100px;
  width: 200px;
  background-color: #8c8c8c;
  margin: 0px auto 10px auto;
}

div.feature-image {
  background-color: #ffffff;
  border: 2px solid #bfbfbf;
  height: 200px;
  width: 200px;
  margin: 40px auto 0px auto;
  border-radius: 7px 7px 0px 0px;
}

div.feature-image.aaa {
  background-image: url("assets/img/aaa-approved-auto-repair.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center center;
}
div.feature-image.ase {
  background-image: url("assets/img/ASE_large.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center center;
}
div.feature-image.tech-net {
  background-image: url("assets/img/TechnetHeader.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center center;
}
div.feature-image.toyourrescue {
  background-image: url("assets/img/to_your_rescue.jpg");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center center;
}
div.feature-image.carquest {
  background-image: url("assets/img/carquest.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center center;
}
div.feature-image.jasper {
  background-image: url("assets/img/jasper.jpg");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center center;
}


div.footer {
  padding: 50px;
  background-color: #E8E9E8;
  color: #393960;
}

div.footer a {
  color: #000066;
  line-height: 2em;
}
div.footer h4 a {
  color: #000000;
}
div.footer h5 {
  color: #000066;
}

.btn.btn-default.btn-appointment {
  margin: 10px;
  background-color: #e60000;
  color: white;
  letter-spacing: 1px;
}


/* =================== 2. Large Devices, Wide Screens ======================= */
@media only screen and (max-width : 1200px) {
}
/* =================== 3. Medium Devices, Desktops ========================== */
@media only screen and (max-width : 992px) {
  div.dark-section {
    padding: 50px 20px;
  }
  div.light-section {
    padding: 50px 20px;
  }
  div.feature-section-1 {
    padding: 50px 20px;
  }
  div.feature-section {
    padding: 10px 0;
  }
  div.appointment-section {
    padding: 50px 20px;
  }
}
/* =================== 4.  Small Devices, Tablets =========================== */
@media only screen and (max-width : 768px) {
  div.dark-section {
    padding: 50px 10px;
  }
  div.light-section {
    padding: 50px 10px;
  }
  div.feature-section-1 {
    padding: 20px 10px;
  }
  div.feature-section {
    padding: 50px 10px;
  }
  div.appointment-section {
    padding: 50px 0px;
  }

  div.detail-page-header {
    margin: 90px 0px 0px 0px;
    padding: 60px 0px 20px 0px;
  }

  .detail-page-header img {
    margin: 0px 0px 10px 0px;
    border-radius: 2px;
    border: 2px solid #dedede;
  }
  #banner-image {
    margin-top: 50px;
  }
  div.footer {
    padding: 30px;
  }
}
/* =================== 5. Extra Small Devices, Phones ======================= */
@media only screen and (max-width : 480px) {
  div.footer {
    padding: 20px;
  }
}
/* =================== 6.  Custom, iPhone Retina ============================ */
@media only screen and (max-width : 320px) {
}

/* REMOVE PARALLAX IE10+ CSS */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
}
/* REMOVE PARALLAX IE Edge 12+ CSS */
@supports (-ms-accelerator:true) {
}
